.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-container {
  width: 100%;
  flex-direction: row;
  position: absolute;
  top: 6rem;
  background-color: white;
  padding: 1rem 0;
  margin: 0 64px;
}

.slds-global-header {
  height: 6rem;
  padding: 2rem 0 2rem 8rem;
  background-color: white;
}

nav {
  background-color: #2a87e1 !important;
}

.sidenav-nav {
  background-color: yellowgreen;
}

.slds-theme--success,
.slds-theme_success {
  background-color: #2a87e1 !important;
}

.modal_company {
  color: gray;
}
.row {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.modal_company_title {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.modal_company_info1 {
  border: 1px solid gray;
  border-radius: 25px;
}

.slds-grid {
  width: 100%;
  justify-content: flex-end;
}
.slds-m-right_medium {
  padding: 0 2rem;
}
.float_left {
  margin-right: 5rem;
}
